<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Jak zostałem arborystą</title>
    <link rel="alternate" href="How im leave arborist.html" hreflang="en-gb">
</head>
<body>

    <p> Moja przygoda z arborystyką, zostańmy przy tej treminologii, rozpoczeła się<br>
    jeszcze w technikum. Skończyłem technikum o profilu leśnym. Pomimo tego, że nie pracuje w zawodzie<br>
    to ta wiedza mi się przydaje. Lecz nie każdy musi ukończyć szkołe związaną z przyrodą.<br>
        Arborystą można zostać bez tego. Serio.<br>
        Poznałem już kilku wspinaczy, którzy dobrze prosferują w tym świecie bez szczegółnej wiedzy<br>
        na ten temat. Więc i tak się da. Termin ,,arborysta'' jak dla Mnie w obecnych czasach<br>
        Jest już kojarzony nie tylko z lekarzem drzew, ale też z wycinką. I to na sporą skalę.<br>
        Poznałem też takich ludzi z tej branży kórzy starają się szczególnie naciskać na to, aby jednak<br>
        ingerencja w drzewo że tak powiem, jakakolwiek, była ostatecznością.
        To tematy które zawsze Mnie odstraszały od tego zawodu, że nie podołam jeśli chodzi o kwestię<br>
        związaną z wiedzą na ten temat. Okazało sie, że to dość schematyczne.<br>
        Ale to już po tym jak zacząłem prace w Szwecji.<br>
        <p></p>

    </p>

</body>
</html>